/* styling for cards within the portfolio page */

.cardContainer {
    width: 100%;
    height: 100%;
}

.cardContainer h3 {
    margin: 0;
    color: whitesmoke;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.imgContainer {
    width: fit-content;
    height: fit-content;
}




/* img container on portfolio that has border radius */
.border {
    width: 100%;
    height: auto;
    border: 2px solid black;
}

