/* global page styling */

.contentCenter {
    text-align: center;
}

h2 {
    margin-top: 2rem;
}

/* styling for portfolio */

/* portfolio grids */

.portfolioContainer {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.portfolioLeft {
    width: 40%;
    height: 100%;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    border: 2px solid orange;
}

.portfolioRight {
    Width: 40%;
    height: 100%;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    border: 2px solid orange;
}


/* CV page styling */

.CV_container {
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CV_content {
    margin: 2rem;
}

/* Carousel component button styling  */

.swipeContainer button{
    color: orange;
    background-color: black;
    border: 1px solid orange;
    margin-right: 1rem;
    margin-bottom: 2rem;
}