
/* container for the entire carousel component */
.swipeContainer {
    width: 50%;
    height: 100vh;
}



/* container that holds the img element */
.imgContainer {
    width: 50%;
}

/* img element */
img {
    width: 100%;
    height: auto;
}




